body{
    background: url('./background2.png') no-repeat top center/cover;
    color: #ffffff;
    display: flex;
    font-family: 'Open Sans';
    
    

    
    
}
#container { 
    display: block;
    width: 400px;
    height: 300px;
    border: 1px solid red;
    margin: 200px auto 0;
    text-align: center;
    
    
}
#container input:hover{
    background-color: rgb(247, 180, 171);
    cursor: pointer;
    transition: background-color 0,2s;

}
#txtn1 {
    border-radius: 4px;
    text-align: center;

}
#txtn2 {
    border-radius: 4px;
    text-align: center;
}
#res {
    border-radius: 4px;
}

